
.frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px;
    gap: 70px;
    
    position: absolute;
    width: 1213px;
    height: 830px;
    left: 193px;
    top: 173px;
    
    background: #FFFFFF;
    border-radius: 16px;

}

.nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 1013px;
    height: 128px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

h1{
    width: 91px;
    height: 40px;

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;

    color: #151B32;

    flex: none;
    order: 0;
    flex-grow: 0;
}
sr .topbar{

    width: 1013px;
    height: 64px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1; 
}

.searchbar{
    width: 32px;
    height: 32px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.vector1{
    position: absolute;
    left: 62.5%;
    right: 12.5%;
    top: 62.5%;
    bottom: 12.5%;
        
    border: 2px solid #151B32;
}

.vector2{
    position: absolute;
    left: 12.5%;
    right: 29.17%;
    top: 12.5%;
    bottom: 29.17%;
        
    border: 2px solid #151B32;
}

.vector3{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}
 h2{
    width: 105px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
    color: #151B32;
    
    opacity: 0.7;
    
    flex:auto;
    order: 5;
    flex-grow: 0;
} 

.menu{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 534px;
    height: 56px;

    border-radius: 4px;

    flex: none;
    order: 1;
    flex-grow: 0;
}


.main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    
    width: 1013px;
    height: 432px;
        
    flex: none;
    order: 1;
    flex-grow: 0;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 1013px;
    height: 208px;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.cell{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;

    width: 327px;
    height: 208px;

    background: #FBFCFF;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.avatar{
    width: 97px;
    height: 97px;
    object-fit: fill;

    background-image: url(image.png);

    flex: none;
    order: 0;
    flex-grow: 0;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 125px;
    height: 106px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.name{
    width: 125px;
    height: 23px;

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;

    color: #151B32;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.location{
    width: 52px;
    height: 21px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: #151B32;

    flex: none;
    order: 1;
    flex-grow: 0;
}